<h3><%= @user.email %></h3>
<%= render partial: "shared/errors", locals: { object: @recipe } %>
<%= form_for @recipe, url: {action: "create"} do |f| %>
    <h4><%= f.label "Name:" %></h4>
    <%= f.text_field :name %>
    <br>
    <h4><%= f.label "Select Category:" %><br></h4>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <br>
    <h4><%= f.label "Ingredients:" %></h4>
    <%= f.fields_for :ingredients do |i| %>
        <%= i.label :name, "Name:" %>
        <%= i.text_field :name %>
        <%= i.label :calories, "Calories:" %>
        <%= i.text_field :calories %>
        <br> 
    <% end %>
    <br>
    <%= f.submit %>
<% end %>
<br>
<%= link_to 'Log Out', '/logout', method: :get %>